<main>
    <div class="title-container">
      <h1>LUC(KY) KOPERTY</h1>
    </div>
    <div class="image-container">
      <img src="assets/images/Lucas-BGR.png" alt="Lucas Background" class="responsive-image">
    </div>
    <div class="button-container">
      <div class="arrow-l">
        <img src="../assets/images/right-arrow.png" alt="right-arrow">
      </div>
      <button class="oval-button" (click)="navigateToNewPage()">Zaczynajmy</button>
      <div class="arrow-r">
        <img src="../assets/images/left-arrow.png" alt="right-arrow">
      </div>
    </div>
    <app-flying-words></app-flying-words>
  </main>